.container .row [class*="col-"] {
  background-color: #f8bfcb;
  border: 1px solid black;
  text-align: center;
  position: relative;
}

.row > .col-6 > .row [class*="col-"] {
  background-color: #f07f80;
  height: 160px;
}
.row span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
